@model IReadOnlyList<ContentItem>

@{
    ViewData["Title"] = "Persons";
}

<h2>Persons</h2>


<ul>
    @foreach (var person in Model)
    {
    <li> @Html.ActionLink(person.GetString("name_and_surname"), "person", new { id = person.GetString("url_slug") }) (@Html.ActionLink("Typed", "typedperson", new { id = person.GetString("url_slug") }))</li>

    }
</ul>


